@charset "UTF-8";

/*Todas as demais midias*/

/*Typical Device Breakpoints
pequenas telas: ate 600px
celular:de 500px ate 768px
tablet:768px ate 992px
Desktop:992px ate 1200px
*/

@media print{/*IMPRERSÃO */

}

@media screen and (min-width: 768px ) and (max-width:592) {/*TABLET*/

    BODY {
          background-image: url(../imagens/back-tablet.jpg);
    }
   
    img#phone  {display: none;}
    img#tablet {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
    img#print {display: none;} 
}

@media screen and (min-width: 992px ) and (max-width:1200px) {/*Desktop*/

    body{
         background-image: url(../imagens/icon-pc.jpg);
    }

    img#phone  {display: none;}
    img#tablet {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
    img#print {display: none;}

}

@media screen and {min-width: 1200px;} 
